<header id="header">
			<div class="inner">
				<a href="/" class="logo">
					<span class="symbol">
						<img src="/assets/images/logo.png" />
					</span>
					<span class="title">#AgendaDigital</span>
				</a>

				<nav>
					<ul>
						<li><a href="#menu">Menu</a></li>
					</ul>
				</nav>

			</div>
		</header>

		<nav id="menu">
			<h2>Menu</h2>
			<ul>
				<li><a href="/">Inicio</a></li>
				<li><a href="/propuestas">Propuestas</a></li>
				<li><a href="/documentacion">Documentación</a></li>
				<li><a href="/seguimiento">Seguimiento</a></li>
				<li><a href="/solicitudes">Solicitudes de información</a></li>
				<li><a href="/gobierno-digital">Componente 1: Gobierno Digital</a></li>
				<li><a href="/economia-digital">Componente 2: Economía Digital</a></li>
				<li><a href="/conectividad">Componente 3: Conectividad</a></li>
				<li><a href="/fortalecimiento-institucional">Componente 4: Fortalecimiento Institucional</a></li>
			</ul>
		</nav>