<section class="tweets">
  <a class="twitter-timeline" data-lang="es" data-width="100%" data-tweet-limit="3" data-theme="light"
    href="https://twitter.com/AgendaDigitalPY?ref_src=twsrc%5Etfw">Tweets by AgendaDigitalPY</a>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</section>